<div class="assignment-row">
  <td>{{title}}</td>
  <td>{{description}}</td>
  <td>{{due_date}}</td>
  <td>{{grade}}</td>
  <td><button type="submit" class="btn btn-default hb-update-assignment" data-control="hb-edit-btn" data-target="#updateAssignmentModal" data-id="{{id}}" data-toggle="modal">Edit</button></td>
  <td><button type="submit" class="btn btn-default hb-delete-assignment" data-control="hb-delete-btn" data-target="#deleteAssignment" data-id="{{id}}" data-toggle="modal">Delete</button></td>
  <td><a href="#" class="hb-show-assignment" data-id="{{id}}"><i class="fa fa-arrows-v"></i></a></td>
</div>
